<ul id="main-menu">
    <li id="menu-item-bs-block-show" class="menu-item scroll"><a href="#bs-block-show">шоу</a></li>
    <li id="menu-item-carousel" class="menu-item scroll"><a href="#carousel">блог</a></li>
    <li id="menu-item-bs-block-action" class="menu-item scroll"><a href="#bs-block-action">события</a></li>
    <li id="menu-item-contact" class="menu-item scroll"><a href="#contact">заказать</a></li>
</ul>