<div class="row">
    <div class="col-xs-12 col-md-4">
        <a href="#" class="thumbnail">
            <img src="{{ asset(path_to_front~"/images/logoblackray.jpg") }}">
        </a>
    </div>

    <div class="col-xs-12 col-md-4">
        <a href="#" class="thumbnail">
            <img src="{{ asset(path_to_front~"/images/logoblackray.jpg") }}">
        </a>
    </div>

    <div class="col-xs-12 col-md-4">
        <a href="#" class="thumbnail">
            <img src="{{ asset(path_to_front~"/images/logoblackray.jpg") }}">
        </a>
    </div>
</div>